# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
scc

# Debug files
*.dSYM/

# Project build folder
/build
/bin
/lib

# Project logs files
*.log
*.status
/log/*
!/log/.gitkeep

# Editor directories
/.vscode

# Autotools
/build-aux/*
!/build-aux/.gitkeep
/.deps
/autom4te.cache
configure
configure~
Makefile
*.m4
*.in
